@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*{
    font-family: 'Epilogue', sans-serif;
    margin: 0px;
    padding: 0px;
}
.textColor {
    color: var(--text-color-body-inverse);
}
/*---------------------------------Navbar---------------------------------*/
.incisos li a{
    color: var(--text-color-body-inverse) !important;
}
/*-----------hover------------*/
.puntero:hover {
    color: var(--color-hover) !important;
}
/*---------------------------------Contenedores que mostraran el listado de las rutas---------------------------------*/
.fondo {
    margin: 2rem 0;
}
/*-------------------------Lista desplegable de rutas-------------------------*/
.card {
    text-align: center;
    background-color: var(--cuadritos-contenedor);
}
.card-body{
    background-color: var(--color-rutath);
}
.card-body h1{
    font-size: 1.56rem;
    font-weight: 400; /*Remarcado de la letra*/
    color: var(--text-color-body-inverse);
}
.icon-lis a{
    text-decoration: none;
    color: var(--text-color-body-inverse);
}
.puntero-rutas a:hover {
    color: var(--text-color-body);
}
.card-title{
    font-size: 1rem;
    text-align: center;
}
.textMapa{
    text-align: center;
    color: var(--text-color-body-inverse);
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 1.87rem;

}
/*-------------------Seccion de comentarios-------------------*/
.container2{
    padding: 2rem 0;
}
.container2 button{
    margin: 1.2rem 0;
    margin-left: 50%;
    border:none;
}
.form-group-user{
    color: var(--text-color-body-inverse);
    height: 6.25rem;
    width: 40% !important;
    
}
.form-group-coment{
    color: var(--text-color-body-inverse);
    height: 6.25rem;
    width: 100% !important;
    padding: 0 0.7rem;
    
}
.form-control-coment{
    color: var(--text-color-body-inverse);
    width: 100%;
}
/*---------------Comentarios reales----------*/
.uno{
    color: var(--text-color-body-inverse);
    font-weight: 500;
}
.lisComents {
    overflow-y: scroll;
    font-size: 1.5rem;
    max-height: 17.5rem;
    background-color: transparent;
    margin-top: 2rem;
}
.comentarios{
    color: var(--text-color-body-inverse);
    font-size:1.1rem;
}
/*Boton scrolly que va pa' arriba*/
.subir2 {
    display: inline-block;
    color: var(--color-rutath-tsu);
    background-color: var(--color-rutath);
    padding: 0rem 0.5rem;
    border: solid 0.1rem;
    border-radius: 3.12rem;
    font-size:1.57rem;
    cursor: pointer;
    position: fixed;
    bottom: 1.87rem;
    right: 1.25rem;
}
.subir2:hover {
    color: var(--color-rutath);
    background-color: var(--color-rutath-tsu);
    border: none;
}
/*---------------------------------Contenedores footer del pie de página---------------------------------*/
footer {
    padding: 1.87rem 0;
}
.rayitas{
    /*border-top: 0.2rem dashed rgba(255, 255, 255, .8);*/
    padding: 2rem 5rem;
    background-color: var(--color-rutath);
}
.leyenda {
    font-size: 1.56rem;
    font-weight: 350; /*Remarcado de la letra*/
    text-align: center;
    padding: 0.93rem 0;
}
.icon-footer {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 350; /*Remarcado de la letra*/
    
}
.icon-footer a{
    text-decoration: none;
    padding: 0.19rem 0.62rem; /*Separacion de las redes sociales*/
    color: var(--icono-footer) !important;
}
.logo-footer {
    text-align: center;
}
@media (max-width: 990px) {
    .container img{
        display: none !important;
    }
    .form-group2{
        width: 60% !important;
    }
    .container2 button{
        margin-left: 46%;
    }
}